@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
 html,body {
	position: absolute;
	width: 1440px;
	height: 1024px;
	left: 0px;
	top: 0px;
	background: #080F35;
}
#header {
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .nav-bar .back{
	position: absolute;
	width: 123.41px;
	height: 56.9px;
	left: 55px;
	top: 31px;
}
#header .nav-bar .title{
	position: absolute;
	width: 221px;
	height: 42px;
	left: 320px;
	top: 40px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	color: #E64310;
}
#header .nav-list .bar {
	text-decoration: none;
}
.back{
	position: absolute;
	width: 123.41px;
	height: 56.9px;
	left: 55px;
	top: 40px;

}
ul li.games{
	position: absolute;
	width: 81px;
	height: 28px;
	left: 877px;
	top: 37px;
	color: white;
	font-size: 20px;
	list-style-type: none;
}
ul p.horizontal{
	position: absolute;
	width: 0.3px;
	height: 36.67px;
	left: 965px;
	top: 38px;
	color: white;
	list-style-type: none;
}
ul li.about{
	position: absolute;
	width: 77px;
	height: 28px;
	left: 992px;
	top: 37px;
	list-style-type: none;
	color: white;
	font-size: 20px;
	text-decoration: none;
}
ul p.horizonta{
	position: absolute;
	width: 0.3px;
	height: 36.67px;
	left: 1076px;
	top: 38px;
	color: white;
	list-style-type: none;
}
ul li.contact{
	position: absolute;
	width: 108px;
	height: 28px;
	left: 1101px;
	top: 37px;
	color: white;
	font-size: 20px;
	list-style-type: none;
}
hr{
	position: absolute;
	width: 1210px;
	height: 0px;
	left: 67px;
	top: 116px;

	border: 1px solid #D61A1A;
	transform: rotate(0.01deg);
}
.heading{
	position: absolute;
	width: 174px;
	height: 42px;
	left: 239px;
	top: 138px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 42px;

	color: #FCFCFC;

}
/*social info*/
.social-1{
	position: absolute;
	width: 91px;
	height: 84px;
	left: 480px;
	top: 140px;
	color: #FCFCFC;
}
.social-container:hover{
	color: orange;
}
.social-2{
	position: absolute;
	width: 91px;
	height: 84px;
	left: 560px;
	top: 140px;
	color: #FCFCFC;
}
.social-3{
	position: absolute;
	width: 91px;
	height: 84px;
	left: 640px;
	top: 140px;
	color: #FCFCFC;
}
.social-4{
	position: absolute;
	width: 91px;
	height: 84px;
	left: 720px;
	top: 140px;
	color: #FCFCFC;
}
.social-5{
	position: absolute;
	width: 91px;
	height: 84px;
	left: 800px;
	top: 140px;
	color: #FCFCFC;
}
.social-6{
	position: absolute;
	width: 91px;
	height: 84px;
	left: 880px;
	top: 140px;
	color: #FCFCFC;
}

#home{
	position: absolute;
	width: 1200px;
	height: 650px;
	left: 90px;
	top: 186px;

	background: #F7EDED;
}
.main-heading{
	position: absolute;
	width: 100px;
	height: 25px;
	left: 502px;
	top: 24px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	/* identical to box height */


	color: #000000;

}
.word{
	position: absolute;
	width: 188px;
	height: 196px;
	left: 116px;
	top: 103px;

}
.word:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/*.word-content{
	position: relative;
	padding-left: 42px 32px;
	clip-path: circle(5% at 95% 11%);
	transition: all ease-in-out .3s;
	background-color: #ffffff;

	&__info{
		transition: ease-out .3s;
	}
	&__title{
		margin: 0;
		font-size: 2em;
		line-height: 1.1;
	}
	&:hover, &:focus{
		clip-path: circle(75%);
		border-radius: 20px;
		box-shadow: 0px 3px 9px rgba(0,0,0,0.12),
		            0px 3px 18px rgba(0,0,0,0.08);
		background: #ffffff;
		outline: none;
	}
	&:focus{
		box-shadow: 0px 3px 9px rgba(0,0,0,0.12),
		            0px 3px 18px rgba(0,0,0,0.08),
		            0px 0px 0px 4px rgba(0,0,0,0.2);
	}
}*/
.carribean{
	position: absolute;
	width: 188px;
	height: 196px;
	left: 316px; 
	top: 103px;
}
.carribean:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.craps{
	position: absolute;
	width: 188px;
	height: 196px;
	left: 506px;
	top: 103px;
}
.craps:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.let{
	position: absolute;
	width: 188px;
	height: 196px;
	left: 696px;
	top: 103px;
}
.let:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.messesippi{
	position: absolute;
	width: 188px;
	height: 196px;
	left: 886px;
	top: 103px;
}
.messesippi:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.paigow{
	position: absolute;
	width: 188px;
	height: 196px;
	left: 216px;
	top: 296px;
}
.paigow:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.roulette{
	position: absolute;
	width: 188px;
	height: 196px;
	left: 416px;
	top: 296px;
}
.roulette:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.scibo{
	position: absolute;
	width: 188px;
	height: 196px;
	left: 616px;
	top: 296px;
}
.scibo:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.three{
	position: absolute;
	width: 188px;
	height: 196px;
	left: 816px;
	top: 296px;
}
.three:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.baccarat{
	position: absolute;
	width: 188px;
	height: 130px;
	left: 997px;
	top: 406px;
}.baccarat:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.crazy{
	position: absolute;
	width: 188px;
	height: 130px;
	left: 36px;
	top: 406px;
}
.crazy:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.footer-title{
	position: absolute;
	width: 221px;
	height: 42px;
	left: 307px;
	top: 942px;
	color: white;
	font-size: 28px;
}
.staright{
	position: absolute;
	width: 145px;
	height: 0px;
	left: 490px;
	top: 920px;

	border: 1px solid #FDF5F5;
	transform: rotate(90deg);
}
.home{
	position: absolute;
	width: 69px;
	height: 28px;
	left: 703px;
	top: 922px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	
	list-style-type: none;
	color: #FFF7F7;

}
.horizontal0{
	position: absolute;
	width: 0.3px;
	height: 36.67px;
	left: 792.35px;
	top: 922px;
	color: white;

}
.games1{
	position: absolute;
	width: 81px;
	height: 28px;
	left: 809px;
	top: 922px;
	list-style-type: none;
	color: #FFF7F7;
}
.horizontal1{
	position: absolute;
	width: 0.3px;
	height: 36.67px;
	left: 909px;
	top: 922px;
	color: white;
}
.about1{
	position: absolute;
	width: 77px;
	height: 28px;
	left: 932px;
	top: 922px;
	list-style-type: none;
	color: #FFF7F7;
}
.horizontal2{
	position: absolute;
	width: 0.3px;
	height: 36.67px;
	left: 1024px;
	top: 922px;
	color: white;
}
.contact1{
	position: absolute;
	width: 108px;
	height: 28px;
	left: 1044px;
	top: 922px;
	list-style-type: none;
	color: #FFF7F7;

}
.horizontal3{
	position: absolute;
	width: 0.3px;
	height: 36.67px;
	left: 1144px;
	top: 922px;
	color: white;
}
.pp{
	position: absolute;
	width: 184px;
	height: 28px;
	left: 1183px;
	top: 922px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	
	list-style-type: none;
	color: #FFF7F7;
	
}
